<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Siyovush Astonzoda</h6>
                <span>Admin Panel</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/Default/Index" class="nav-item nav-link"><i class="fa fa-home me-2"></i>To the web page</a>
            <a href="/Category/Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Categories</a>
            <a href="/Employee/Index" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Employees</a>
            <a href="/Product/Index" class="nav-item nav-link"><i class="fa fa-shopping-cart me-2"></i>Products</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
            <a href="/Statistics/Index" class="nav-item nav-link"><i class="fa fa-chart-pie me-2"></i>Statistics</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fa fa-server me-2"></i>APIs</a>
            <a href="/About/Index" class="nav-item nav-link"><i class="fa fa-question me-2"></i>About Us</a> @*who we are*@
            <a href="/Service/Index" class="nav-item nav-link"><i class="fa fa-suitcase me-2"></i>Services</a>
            <a href="/Location/Index" class="nav-item nav-link"><i class="fa fa-map-pin me-2"></i>Locations</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-certificate me-2"></i>Today's Opportunities</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-newspaper me-2"></i>Mail List</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-inbox me-2"></i>Mail Transactions</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-phone me-2"></i>Contacts</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Incoming Messages</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Settings</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-window-close me-2"></i>Log Out</a>
        </div>
    </nav>
</div>