@model CreateServiceDto
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="bg-light rounded h-100 p-4">
    <form method="post">
        <label>Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Status</label>
        <input type="text" asp-for="Status" class="form-control" />
        <br />
        <button class="btn btn-primary">Add Service</button>
    </form>
</div>